@media (min-width: 992px){
    .contenedor_imagen_tienda{
            height: 43vh !important;
        }

    .imagen_tienda{
        height: 100% !important;
    }
}

@media (min-width: 768px){
    .contenedor_imagen_tienda{
            height: 345px !important;
        }

    /* .imagen_tienda{
        height: 100% !important;
    } */
}